//header

$headerColor: #333333;
$headerHoverBackgroundColor: #000000;
$headerLinksPadding: 10px;
$headerLinksBorderRadius: 6px;


//sidebar

$sidebarYellow: #F2C94C;

//content

$barColor: #E0E0E0;
$contentLineHeight: 28px;
$categoryWidth: 180px;