@import "./variables";
@import "./header";
@import "./toggle_button.scss";
@import "./sidebar";
@import "./content";

* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
 }

body {
   // width: 100%;
   font-family: 'Roboto', sans-serif;
}


.all-modules{
   width: 100%;
   margin: 0 auto;
   position: relative;
}

